*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(0,rgb(159,209,228),rgb(240,248,251));
    color: black;
    margin: 0px;
    padding: 70px;
    
}
button img{ 
    width: 30px;
    height: 30px;
}
button{
    border: none;
}
a{
    text-decoration: none;
}
.headline{
    width: 1360px;
    background: #acb5b7;
    border: 3px solid #fff;
    border-radius: 15px;
}
.headline>img{
    margin-left: 340px;
    width: 80px;
    margin-top: 2px;
}
h1{
    float: right;
    margin-top: 19px;
    margin-right: 350px;
    font-family: 'Chivo', sans-serif;
    color: #2b2323;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #000000;
}
th{
  font-size: 20px;
  padding: 10px;  
}
.bulletinbroad2 th{
    border: 3px solid #443434;
}
td{
    border: 3px solid #443434;
}
.bulletinbroad{
    width: 1360px;
    padding: 40px;
    border: 3px solid #443434;
    border-radius: 15px;
    background: rgb(139, 181, 172);
    text-align: left;
}
.bulletinbroad2{
    width: 1360px;
    padding: 50px;
    border: 3px solid #443434;
    border-radius: 15px;
    background: rgb(139, 181, 172);
    text-align: justify;
}


